./FLASK
*.zip
*.JPEG
*.xml
*.out

*/processing_monitor.txt

data_collect/static/before_data

baseline/LLaVA_official/playground/data_collect

FLASK
__pycache__/
*.pyc
*.pyo
data_build/python_processor/processing_monitor.txt
data_build/LLaVA

*/.venv
model_train/LLaVA/.venv
model_train/LLaVA/checkpoints_integrated
model_train/MiniGPT4/runs
model_train/LAVIS/lavis/models/beats/LICENSE_BEATs.txt


model_eval/linear_probing/*.log
model_eval/linear_probing/minigpt_zeroshot.log
model_eval/MME/MiniGPT4V2_EVAL/Tuning/artwork.txt
*.log
application/val2017